.historySideBar {
  position: fixed;
  height: 100vh;
  width: 200px;
  left: 0px;
  top: 0;
  background-color: rgb(67, 67, 67);
  display: none;
  padding: 15px;
  overflow: hidden;
  overflow-y: auto;
}

.historySideBar section {
  width: 100%;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  /* flex-basis: auto; */
  background-color: black;
  margin-bottom: 10px;
  padding: 10px;
  text-align: right;
  border-radius: 8px;
  position: relative;
}

.historySideBar .historyNumber {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(58, 58, 58);
  width: 35px;
  height: 35px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.historySideBar section p {
  display: block;
  flex-basis: 100%;
}

.historySideBar .historyNumber3 {
  border-top: 1px solid wheat;
}

.closedSideBar {
  background-color: rgb(0, 0, 0);
  border: 2px solid wheat;
  font-size: 22px;
  font-weight: bolder;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
  cursor: pointer;
}
