*,
*::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* main body tag ---------------- */
body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  min-height: 600px;
  user-select: none;
  padding-top: 20px;
}

/* main container ---------------- */
.container {
  background-color: rgb(255, 255, 255);
  /* max-width: 400px; */
  min-width: 300px;
  width: 300px;
  border-radius: 12px;
  border-left: 1px solid rgb(0, 0, 0);
  border-top: 1px solid rgb(0, 0, 0);
  box-shadow: 3px 3px 0px 2px rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  /* transform: scale(); */
  padding: 5px;
}
/* dispaly output ---------------- */
.outPut {
  flex-basis: 100%;
  padding: 60px 10px 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 5px 5px 4px 0 rgba(128, 128, 128, 0.735),
    5px 5px 4px 0 rgba(20, 20, 20, 0.303);
  color: black;
  /* border-radius: 8px 8px 0 0; */
  border-radius: 8px;
  margin-bottom: 20px;
  font-family: sans-serif;
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  justify-content: end;
  position: relative;
}
/* keypad ---------------- */

.keyPad {
  background-color: rgb(255, 255, 255);
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0 0 8px 8px;
  /* flex-direction: column; */
}

/* functionKey pad -------------------- */
.functionKey {
  flex-basis: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
  /* flex-basis: auto; */
}

/* numaric pad -------------------- */
.numaricPad {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5px;
}

.num {
  display: flex;
  flex-direction: column;
  /* column-gap: 15px; */
  row-gap: 10px;
}

.button,
.button1 {
  color: black;
  height: 50px;
  width: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin:  5px 0; */
  box-shadow: inset 5px 5px 5px 0 rgba(128, 128, 128, 0.735),
    5px 5px 4px 0 rgba(20, 20, 20, 0.303);
  transition: all 0.2s;
  cursor: pointer;
  transform: scale(1);
  font-size: 22px;
  /* font-weight: bold; */
}

.button:hover,
.button1:hover {
  /* box-shadow: inset -8px -8px 8px 0 rgba(128, 128, 128, 0.786), -8px -8px 8px 0 rgba(0, 0, 0, 0.646); */
  /* box-shadow: inset 5px 5px 5px 0 rgba(128, 128, 128, 0.786); */
  transform: scale(1.1);
}

.operationKey {
  margin: 5px 10px;
  width: 100%;
  font-size: 40px;
}

.mathKey .button1,
.operationKey,
.functionKey .button {
  background-color: rgb(227, 227, 227);
}

.operationKey:hover {
  transform: scale(1.05);
}

/* grammerly popup box */
[role="alertdialog"],
.jfk-bubble .gtx-bubble {
  display: none;
}
